body {
  background-color: lightblue;
  font-size: 32px;
  text-align: center;
}
h1 {
  color: #20abef;
  text-align: center;

}
h2 {
  color: #876abc;
  font-style: oblique;
  font-family: cursive;
  text-align: center;

}
h3 {
  font-style: normal;
  font-family: cursive;
  font-size: 40px;
  text-align: center;
}
p {
  font-family: cursive;
  font-style: normal;
  font-size: 32px;
  text-align: center;
}
